.App {
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.form-card {
  width: 18rem;
  margin-top: 30%;
}

.form-card {
  display: inline-block;
}

input[type="passwordConfirm"] {
  margin-top: 10px;
}

.rounded-circle {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  margin-right: 10px;
}

.post {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wall {
  margin: auto;
  width: 50%;
}

.post-list{
  list-style-type: none;
  padding-left: 0;
}

.post-text {
  width: 100%;
}

.submit-button {
  float: right;
}